<input
  type="search"
  class="w-full rounded border border-gray-300 p-2"
  placeholder="Search..."
  [formControl]="searchControl"
/>

<div class="flex h-full w-full flex-col gap-4 overflow-y-auto">
  @for (group of shapePropsBySearchKeys(); track group) {
    <details open class="rounded-md border p-3 hover:bg-gray-100">
      <summary class="font-bold">{{ group }}</summary>

      <div class="flex flex-col gap-3">
        @for (
          item of shapePropertiesFilteredBySearch()[group];
          track item.name
        ) {
          <div class="grid grid-cols-2 items-center gap-2">
            <label>{{ item.name }}</label>
            <div class="w-1/2">
              <input
                [type]="getInputType(item.name)"
                [formControl]="item.control"
              />
            </div>
          </div>
        }
      </div>
    </details>
  }
</div>

<footer class="absolute bottom-2 left-4 right-4">
  <button class="min-w-32 bg-blue-500 p-2 text-white" (click)="onSubmitted()">
    Save Changes
  </button>
</footer>
