<main>
  <div class="flex gap-3 bg-gray-300 p-2">
    <button (click)="addRectangularShape()">
      <svg width="16" height="16">
        <rect
          width="16"
          height="16"
          style="fill: transparent; stroke-width: 3; stroke: rgb(0, 0, 0)"
        />
      </svg>
    </button>
    <button (click)="addCircleShape()">
      <svg width="18" height="18">
        <circle
          cx="9"
          cy="9"
          r="8"
          style="fill: transparent; stroke-width: 1.5; stroke: rgb(0, 0, 0)"
        />
      </svg>
    </button>
    <button (click)="addTriangleShape()">
      <svg width="16" height="16">
        <polygon
          points="8,1 15,15 1,15"
          style="fill: transparent; stroke-width: 1.5; stroke: rgb(0, 0, 0)"
        />
      </svg>
    </button>

    <button (click)="addLineShape()">
      <svg width="16" height="16">
        <line
          x1="1"
          y1="1"
          x2="15"
          y2="15"
          style="stroke: rgb(0, 0, 0); stroke-width: 2"
        />
      </svg>
    </button>

    <button (click)="addTextShape()">
      <svg width="16" height="16">
        <text x="2" y="15" style="font-size: 16px; font-family: Arial">T</text>
      </svg>
    </button>

    <div class="h-10 w-[1px] bg-gray-500"></div>

    <button (click)="addLayer()">Add Layer</button>

    <button (click)="clearCanvas()" class="flex items-center gap-1">
      <ng-icon name="heroXCircle" class="text-2xl" />
      Clear Canvas
    </button>

    <div class="h-10 w-[1px] bg-gray-500"></div>

    <button (click)="exportCanvas()">
      <ng-icon name="heroArrowDownTray" class="text-2xl" />
    </button>
  </div>

  <div #container (contextmenu)="openContextMenu($event); (false)"></div>
</main>

<aside>
  @for (layer of layers(); track layer.name()) {
    <div class="flex items-start gap-2 border p-1">
      <span>{{ layer.name() }}</span>

      <div>
        @for (child of layer.toObject().children; track child.attrs.id) {
          <div
            class="flex items-center gap-2 rounded-md border border-gray-300 p-2"
          >
            <span class="flex-1">
              {{ child.attrs.id }}
            </span>

            <button (click)="selectShape(child)">Select</button>

            <button (click)="deleteShape(child)">
              <ng-icon name="heroTrash" class="text-2xl" />
            </button>
          </div>
        }
      </div>

      <button (click)="selectLayer(layer)">Select</button>
      <button (click)="deleteLayer(layer)">
        <ng-icon name="heroTrash" class="text-2xl" />
      </button>
    </div>
  }
</aside>
