<main>
  <div class="flex gap-3 bg-gray-300 p-2">
    <button (click)="addRectangularShape()">
      <svg width="16" height="16">
        <rect
          width="16"
          height="16"
          style="fill: transparent; stroke-width: 3; stroke: rgb(0, 0, 0)"
        />
      </svg>
    </button>
    <button (click)="addCircleShape()">
      <svg width="18" height="18">
        <circle
          cx="9"
          cy="9"
          r="8"
          style="fill: transparent; stroke-width: 1.5; stroke: rgb(0, 0, 0)"
        />
      </svg>
    </button>
    <button (click)="addTriangleShape()">
      <svg width="16" height="16">
        <polygon
          points="8,1 15,15 1,15"
          style="fill: transparent; stroke-width: 1.5; stroke: rgb(0, 0, 0)"
        />
      </svg>
    </button>

    <button (click)="addLineShape()">
      <svg width="16" height="16">
        <line
          x1="1"
          y1="1"
          x2="15"
          y2="15"
          style="stroke: rgb(0, 0, 0); stroke-width: 2"
        />
      </svg>
    </button>

    <button (click)="addTextShape()">
      <svg width="16" height="16">
        <text x="2" y="15" style="font-size: 16px; font-family: Arial">T</text>
      </svg>
    </button>

    <div class="h-10 w-[1px] bg-gray-500"></div>

    <button (click)="addLayer()">Add Layer</button>

    <button (click)="clearCanvas()" class="flex items-center gap-1">
      <ng-icon name="heroXCircle" class="text-2xl" />
      Clear Canvas
    </button>

    <div class="h-10 w-[1px] bg-gray-500"></div>

    <button (click)="exportCanvas()">
      <ng-icon name="heroArrowDownTray" class="text-2xl" />
    </button>
  </div>

  <div
    #container
    class="overflow-x-hidden bg-gray-50"
    (contextmenu)="
      shapeContextMenuService.openContextMenu($event, stage(), layer()); (false)
    "
  ></div>
</main>

<aside class="flex h-full overflow-y-auto">
  <app-layer-explorer
    class="h-full flex-1 overflow-y-auto"
    [stage]="stage()"
    [layers]="layers()"
  ></app-layer-explorer>
  <app-properties-panel
    [selectedShape]="shapeService.selectedShape()"
    (shapeUpdated)="shapeService.updateShape($event, this.stage())"
    class="h-full flex-1"
  />
</aside>
